.btn {
  display: inline-block;
  padding: em(26, 27) em(100, 27) em(22, 27);

  text-align: center;
  font-family: inherit;
  font-size: rem(27);
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--white);
  border-radius: em(9, 27);
  border: none;
  background-color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &_sm {
    padding: em(23, 24) em(50, 24);
    font-size: rem(24);
  }

  @media (max-width: $mobile) {
    font-size: rem(20);
  }

  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
      background-color: darken(#2F80ED, 10%);
    }
  }
}