<div class="section contact" id="contacts">
    <div class="container">
        <div class="contact__wrapper">
            <h4 class="contact__title section__title">Связаться с нами</h4>
            <div class="contact__inner">
                <a class="contact__item" href="#" target="_blank">
                    <img alt="" class="contact__icon" src="@img/icons/tel.svg">
                    <span class="contact__name">По телефону</span>
                </a>
                <a class="contact__item" href="#" target="_blank">
                    <img alt="" class="contact__icon" src="@img/icons/mail.svg">
                    <span class="contact__name">По почте</span>
                </a>
                <a class="contact__item" href="#" target="_blank">
                    <img alt="" class="contact__icon" src="@img/icons/wa-1.svg">
                    <span class="contact__name">В WhatsApp</span>
                </a>
                <a class="contact__item" href="#" target="_blank">
                    <img alt="" class="contact__icon" src="@img/icons/tg.svg">
                    <span class="contact__name">В Telegram</span>
                </a>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.contact -->