<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logo">Sky<span>Plaza</span>Yalta</div>
            <a class="footer__phone" href="tel:+79504777365">+7 (950) 477-73-65</a>
        </div>
        <nav class="footer__nav nav">
            <ul class="nav__menu">
                <li class="nav__item">
                    <a class="nav__link" href="#" data-scroll="about">О нас</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#" data-scroll="rooms">Апартаменты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#" data-scroll="address">Как добраться</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#" data-scroll="reviews">Отзывы</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#" data-scroll="contacts">Контакты</a>
                </li>
            </ul>
            <a class="nav__link" href="#">Политика конфиденциальности</a>
        </nav>
    </div><!-- /.container -->
</footer><!-- /.footer -->