<div class="modal" id="galleryPopup">
    <div class="modal__window">
        <div class="modal__header">
            <button class="modal__close btn_icon">&times;</button>
        </div>
        <div class="modal__body">
            <div thumbsSlider="" class="swiper swiper-gallery swiper-gallery_thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper swiper-gallery swiper-gallery_main">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img alt="" class="img" src="@img/gallery/4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>