<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    
    <!-- Yandex Map API -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2ee2f057-e1a3-4477-9a6f-9614f69411c7&lang=ru_RU">
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="files/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="files/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="files/favicon/favicon-16x16.png">
    <link rel="manifest" href="files/favicon/site.webmanifest">
    <link rel="mask-icon" href="files/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>@@title</title>
</head>