<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="menu-burger">
                <span></span>
            </div>
            <div class="menu-body">
                <div class="header__logo">
                    <div class="header__subtitle">Апарт-отель</div>
                    <h2 class="header__title">«SkyPlazaYalta»</h2>
                    <address>
                        <div class="header__address">г. Ялта, ул. Дражинского 48В</div>
                    </address>
                </div>
                <div class="header__socials header__socials_burger socials">
                    <a class="socials__item" href="#" target="_blank">
                        <img alt="" class="socials__icon" src="@img/icons/wa.svg">
                    </a>
                    <a class="socials__item" href="#" target="_blank">
                        <img alt="" class="socials__icon" src="@img/icons/tg.svg">
                    </a>
                    <a class="socials__item" href="#" target="_blank">
                        <img alt="" class="socials__icon" src="@img/icons/tel.svg">
                    </a>
                </div>
            </div>

            <nav class="nav">
                <ul class="nav__menu" data-da=".menu-body,768,1">
                    <li class="nav__item">
                        <a class="nav__link" href="#" data-scroll="about">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#" data-scroll="rooms">Апартаменты</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#" data-scroll="address">Как добраться</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#" data-scroll="reviews">Отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#" data-scroll="contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__socials socials">
                <a class="socials__item" href="#" target="_blank">
                    <img alt="" class="socials__icon" src="@img/icons/wa.svg">
                </a>
                <a class="socials__item" href="#" target="_blank">
                    <img alt="" class="socials__icon" src="@img/icons/tg.svg">
                </a>
                <a class="socials__item" href="#" target="_blank">
                    <img alt="" class="socials__icon" src="@img/icons/tel.svg">
                </a>
            </div>

            <a class="header__phone" href="tel:+79504777365">+7 (950) 477-73-65</a>
        </div>
    </div><!-- /.header__container -->
</header><!-- /.header -->