<div class="section" id="address">
    <div class="container">
        <div class="map__wrapper">
            <div class="map__menu">
                <address>
                    <div class="map__title">Наш адрес</div>
                    <div class="map__address">Апарт-отель «SkyPlazaYalta» расположен по адресу г. Ялта, ул. Дражинского 48В</div>
                </address>
            </div>
            <div class="map" id="map" style="width: 100%; height: 600px;"></div>
        </div><!-- /.map__wrapper -->
    </div><!-- /.container -->
</div>