<div class="modal" id="reservePopup">
    <div class="modal__window modal__window_sm">
        <div class="modal__header">
            <button class="modal__close btn_icon">&times;</button>
        </div>
        <div class="modal__body">
            <form class="reserve-form reserve-form_popup" action="/">
                <input 
                    class="reserve-form__input reserve-form__input_popup" 
                    type="text"
                    placeholder="Ваше имя"
                    required>
                <input 
                    class="reserve-form__input reserve-form__input_popup" 
                    type="tel"
                    placeholder="Телефон"
                    required>
                <textarea class="reserve-form__input reserve-form__input_popup reserve-form__input_textarea" placeholder="Комментарий"></textarea>
                <button class="reserve__btn btn btn_sm" type="submit">Оставить заявку</button>
            </form>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>