<section class="section reviews" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Клиенты о нас</h2>
        </div>
        <div class="reviews__inner">
            <div class="reviews__item">
                <div class="reviews__header">
                    <div class="reviews__rating">
                        <img alt="" class="reviews__icon" src="@img/icons/google.svg">
                        <span class="reviews__score">5/5</span>
                    </div>
                </div>
                <div class="reviews__body">
                    <div class="reviews__text">
                        Были в апреле, ловили воблу, всё очень понравилось, место, персонал, удобства, стояли в палатке, решили приехать сюда в конце сентября. Елена и Сергей из Нижегородской области, отдельное спасибо хозяйке Юле.
                    </div>
                </div>
                <div class="reviews__author">
                    <div class="reviews__profile">
                        <div class="reviews__name">Никита Толмачев</div>
                        <time class="reviews__date" datetime="2021-09-28">28 сентября 2021</time>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__header">
                    <div class="reviews__rating">
                        <img alt="" class="reviews__icon" src="@img/icons/yandex.svg">
                        <span class="reviews__score">4/5</span>
                    </div>
                </div>
                <div class="reviews__body">
                    <div class="reviews__text">
                        Были в апреле, ловили воблу, всё очень понравилось, место, персонал, удобства, стояли в палатке, решили приехать сюда в конце сентября. Елена и Сергей из Нижегородской области, отдельное спасибо хозяйке Юле.
                    </div>
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img alt="" class="img" src="@img/reviews-photo.png">
                    </div>
                    <div class="reviews__profile">
                        <div class="reviews__name">Никита Толмачев</div>
                        <time class="reviews__date" datetime="2021-09-28">28 сентября 2021</time>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__header">
                    <div class="reviews__rating">
                        <img alt="" class="reviews__icon" src="@img/icons/google.svg">
                        <span class="reviews__score">5/5</span>
                    </div>
                </div>
                <div class="reviews__body">
                    <div class="reviews__text">
                        Были в апреле, ловили воблу, всё очень понравилось, место, персонал, удобства, стояли в палатке, решили приехать сюда в конце сентября. Елена и Сергей из Нижегородской области, отдельное спасибо хозяйке Юле.
                    </div>
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img alt="" class="img" src="@img/reviews-photo.png">
                    </div>
                    <div class="reviews__profile">
                        <div class="reviews__name">Андрей Баринов</div>
                        <time class="reviews__date" datetime="2021-09-28">28 сентября 2021</time>
                    </div>
                </div>
            </div>
        </div><!-- /.reviews__inner -->
        <div class="reviews__btn">
            <button class="btn btn_sm" type="button">Больше отзывов</button>
        </div>
    </div><!-- /.container -->
</section><!-- /.reviews -->